body {
    position: relative;
    margin: 0;
    background: #5a4bff;
    padding: 40px;
    height: 800px;
}

.box-1 {
    position: absolute;
    background: #8a2be2;
    width: 800px;
    height: 800px;
    border-radius: 10px;

    /* --- Centering Technique (margin: auto with fixed sides) --- */
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* BOX 2 — absolute inside box-1 */
.box-2 {
    position: absolute;
    background: #3b7f7a;

    /* These properties calculate the box size based on the 80px space from the parent edges */
    top: 80px;
    left: 80px;
    right: 80px;
    bottom: 80px;

    border-radius: 10px;
}

/* BOX 3 — absolute inside box-2 */
.box-3 {
    position: absolute;
    background: yellow;

    top: 80px;
    left: 80px;

    width: 450px;
    height: 450px;

    border-radius: 10px;
    z-index: 10;
    /* makes sure it shows on top */
}

/* BOX 4 — absolute inside box-3 */
.box-4 {
    position: absolute;
    background: red;

    /* equal spacing inside yellow box */
    top: 0px;
    left: 0px;
    right: 200px;
    bottom: 200px;

    border-radius: 10px;
}